language:  generic

notifications:
    slack: nozeio:LIFY1Jtkx0FRcLq3u1WliHRZ

matrix:
    include:
        - os:   Linux
          dist: trusty
          env:  SWIFT_SNAPSHOT_NAME="https://swift.org/builds/swift-3.0.1-preview-2/ubuntu1404/swift-3.0.1-PREVIEW-2/swift-3.0.1-PREVIEW-2-ubuntu14.04.tar.gz"
          sudo: required
        - os:   osx
          osx_image: xcode8

before_install:
    - ./xcconfig/before-install.sh

install:
    - ./xcconfig/install.sh

script:
    - export PATH="$HOME/usr/bin:$PATH"
    - export SWIFTENV_ROOT="$HOME/.swiftenv"
    - export PATH="${SWIFTENV_ROOT}/bin:${SWIFTENV_ROOT}/shims:$PATH"
    - git tag 0.5.1337
    - make all
    - make samples

