// Base config file for Mac projects

#include "Base.xcconfig"


// Note: this does NOT work!
//   See https://pewpewthespells.com/blog/xcconfig_guide.html#CondVarConfig
//   MACOSX_DEPLOYMENT_TARGET[config=Debug-AppKit] = 10.11

// is this OK? the SDKROOT is already being used in Base.xcconfig
MACOSX_DEPLOYMENT_TARGET           = 10.11
SDKROOT                            = macosx10.11
