{{#viewCount}}
  Views: {{viewCount}}
{{/viewCount}}
    <hr />
    <div class="row">
      <div class="large-12 small-centered columns" style="text-align: center;">
        <em>Code from the <a href="http://zeezide.de/">ZeeZide</a>.</em>
      </div>
    </div>

    <script src="http://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/what-input/2.1.0/what-input.min.js"></script>
    <script src="http://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
